<div class="jumbotron text-center">
  <ul class="xpagination">
    <li><a id="ch-btn xactive" href="" onclick="search('0-9')">0-9</a></li>
    <li><a id="ch-btn" href="" onclick="search('A')">A</a></li>
    <li><a id="ch-btn" href="" onclick="search('B')">B</a></li>
    <li><a id="ch-btn" href="" onclick="search('C')">C</a></li>
    <li><a id="ch-btn" href="" onclick="search('D')">D</a></li>
    <li><a id="ch-btn" href="" onclick="search('E')">E</a></li>
    <li><a id="ch-btn" href="" onclick="search('F')">F</a></li>
    <li><a id="ch-btn" href="" onclick="search('G')">G</a></li>
    <li><a id="ch-btn" href="" onclick="search('H')">H</a></li>
    <li><a id="ch-btn" href="" onclick="search('I')">I</a></li>
    <li><a id="ch-btn" href="" onclick="search('J')">J</a></li>
    <li><a id="ch-btn" href="" onclick="search('K')">K</a></li>
    <li><a id="ch-btn" href="" onclick="search('L')">L</a></li>
    <li><a id="ch-btn" href="" onclick="search('M')">M</a></li>
    <li><a id="ch-btn" href="" onclick="search('N')">N</a></li>
    <li><a id="ch-btn" href="" onclick="search('O')">O</a></li>
    <li><a id="ch-btn" href="" onclick="search('P')">P</a></li>
    <li><a id="ch-btn" href="" onclick="search('Q')">Q</a></li>
    <li><a id="ch-btn" href="" onclick="search('R')">R</a></li>
    <li><a id="ch-btn" href="" onclick="search('S')">S</a></li>
    <li><a id="ch-btn" href="" onclick="search('T')">T</a></li>
    <li><a id="ch-btn" href="" onclick="search('U')">U</a></li>
    <li><a id="ch-btn" href="" onclick="search('V')">V</a></li>
    <li><a id="ch-btn" href="" onclick="search('W')">W</a></li>
    <li><a id="ch-btn" href="" onclick="search('X')">X</a></li>
    <li><a id="ch-btn" href="" onclick="search('Y')">Y</a></li>
    <li><a id="ch-btn" href="" onclick="search('Z')">Z</a></li>
  </ul>
  <br>
</div>
<div class="indexcontainer">
  <div class="ihead">
    <h2>Top 12 Shows</h2>
    <input class="xsearch" type="button" onclick="search(searchitem)" value="search">
    <input class="xsearch" type="text" id="searchitem" placeholder="search">
  </div>
  <div id="rootus" class="ibody">

    <div class="imgframe S action horror adventure fantasy comedy show"> <!-- supernatural horror action comedy -->
      <div class="img-holder">
        <a href="desc.html"><img src="images/imgsn.jpg" alt=""></a>
      </div>
      <div class="ititle">
        <p class="title">Supernatural</p>
        <p class="epsd"><b>Episodes :</b> 287</p>
      </div>

    </div>

    <div class="imgframe 0-9 thriller mystery suspense show"> <!-- 13 mystery drama thriller -->
      <div class="img-holder">
        <a href="#"><img src="images/img13.jpg" alt=""></a>
      </div>
      <div class="ititle">
        <p class="title">13 Reasons WHY?</p>
        <p class="epsd"><b>Episodes :</b> 26</p>
      </div>
    </div>

    <div class="imgframe A action adventure drama comedy show"> <!-- arrow action drama crime -->
      <div class="img-holder">
        <a href="#"><img src="images/imgar.jpg" alt=""></a>
      </div>
      <div class="ititle">
        <p class="title">ARROW</p>
        <p class="epsd"><b>Episodes :</b> 161</p>
      </div>
    </div>

    <div class="imgframe B scifi suspense thriller crime show"> <!-- breakingbad crime thriller suspense action -->
      <div class="img-holder">
        <a href="#"><img src="images/imgbb.jpg" alt=""></a>
      </div>
      <div class="ititle">
        <p class="title">Breaking Bad</p>
        <p class="epsd"><b>Episodes :</b> 62</p>
      </div>
    </div>

    <div class="imgframe B scifi drama comedy show"> <!-- bigbangtheory -->
      <div class="img-holder">
        <a href="#"><img src="images/imgbbt.jpg" alt=""></a>
      </div>
      <div class="ititle">
        <p class="title">Big Bang Theory</p>
        <p class="epsd"><b>Episodes :</b> 255</p>
      </div>
    </div>

    <div class="imgframe B drama adventure crime suspense show"> <!-- bettercallsaul -->
      <div class="img-holder">
        <a href="#"><img src="images/imgbcs.jpg" alt=""></a>
      </div>
      <div class="ititle">
        <p class="title">Better Call Saul</p>
        <p class="epsd"><b>Episodes :</b> 30</p>
      </div>
    </div>

    <div class="imgframe G fantasy mystery adventure action show"> <!-- gameofthrones -->
      <div class="img-holder">
        <a href="#"><img src="images/imggot.jpg" alt=""></a>
      </div>
      <div class="ititle">
        <p class="title">Game of Thrones</p>
        <p class="epsd"><b>Episodes :</b> 67</p>
      </div>
    </div>

    <div class="imgframe H food thriller mystery crime show"> <!-- hannibal -->
      <div class="img-holder">
        <a href="#"><img src="images/imghan.jpg" alt=""></a>
      </div>
      <div class="ititle">
        <p class="title">Hannibal</p>
        <p class="epsd"><b>Episodes :</b> 39</p>
      </div>
    </div>

    <div class="imgframe H adventure thriller crime documentary show"> <!-- houseofcards -->
      <div class="img-holder">
        <a href="#"><img src="images/imghoc.jpg" alt=""></a>
      </div>
      <div class="ititle">
        <p class="title">House of Cards</p>
        <p class="epsd"><b>Episodes :</b> 65</p>
      </div>
    </div>

    <div class="imgframe I action scifi adventure horror show"> <!-- izombie -->
      <div class="img-holder">
        <a href="#"><img src="images/imgiz.jpg" alt=""></a>
      </div>
      <div class="ititle">
        <p class="title">I ZOMBIE</p>
        <p class="epsd"><b>Episodes :</b> 58</p>
      </div>
    </div>

    <div class="imgframe L horror comedy thriller action fantasy show"> <!-- lucifer -->
      <div class="img-holder">
        <a href="#"><img src="images/imgluc.jpg" alt=""></a>
      </div>
      <div class="ititle">
        <p class="title">Lucifer</p>
        <p class="epsd"><b>Episodes :</b> 57</p>
      </div>
    </div>

    <div class="imgframe T horror thriller action crime show"> <!-- theoriginals -->
      <div class="img-holder">
        <a href="#"><img src="images/imgorg.jpg" alt=""></a>
      </div>
      <div class="ititle">
        <p class="title">The Originals</p>
        <p class="epsd"><b>Episodes :</b> 86</p>
      </div>
    </div>

  </div>
</div>
