<div class="jumbotron text-center">
  <ul class="xpagination">
    <li><a id="ch-btn xactive" href="" onclick="search('0-9');return false">0-9</a></li>
    <li><a id="ch-btn" href="" onclick="search('A');return false">A</a></li>
    <li><a id="ch-btn" href="" onclick="search('B');return false">B</a></li>
    <li><a id="ch-btn" href="" onclick="search('C');return false">C</a></li>
    <li><a id="ch-btn" href="" onclick="search('D');return false">D</a></li>
    <li><a id="ch-btn" href="" onclick="search('E');return false">E</a></li>
    <li><a id="ch-btn" href="" onclick="search('F');return false">F</a></li>
    <li><a id="ch-btn" href="" onclick="search('G');return false">G</a></li>
    <li><a id="ch-btn" href="" onclick="search('H');return false">H</a></li>
    <li><a id="ch-btn" href="" onclick="search('I');return false">I</a></li>
    <li><a id="ch-btn" href="" onclick="search('J');return false">J</a></li>
    <li><a id="ch-btn" href="" onclick="search('K');return false">K</a></li>
    <li><a id="ch-btn" href="" onclick="search('L');return false">L</a></li>
    <li><a id="ch-btn" href="" onclick="search('M');return false">M</a></li>
    <li><a id="ch-btn" href="" onclick="search('N');return false">N</a></li>
    <li><a id="ch-btn" href="" onclick="search('O');return false">O</a></li>
    <li><a id="ch-btn" href="" onclick="search('P');return false">P</a></li>
    <li><a id="ch-btn" href="" onclick="search('Q');return false">Q</a></li>
    <li><a id="ch-btn" href="" onclick="search('R');return false">R</a></li>
    <li><a id="ch-btn" href="" onclick="search('S');return false">S</a></li>
    <li><a id="ch-btn" href="" onclick="search('T');return false">T</a></li>
    <li><a id="ch-btn" href="" onclick="search('U');return false">U</a></li>
    <li><a id="ch-btn" href="" onclick="search('V');return false">V</a></li>
    <li><a id="ch-btn" href="" onclick="search('W');return false">W</a></li>
    <li><a id="ch-btn" href="" onclick="search('X');return false">X</a></li>
    <li><a id="ch-btn" href="" onclick="search('Y');return false">Y</a></li>
    <li><a id="ch-btn" href="" onclick="search('Z');return false">Z</a></li>
  </ul>
  <br>
</div>
<div class="indexcontainer">
  <div class="ihead">
    <h2>Top 12 Shows</h2>
    <input class="xsearch" type="button" onclick="search(searchitem)" value="search">
    <input class="xsearch" type="text" id="searchitem" placeholder="search">
  </div>
  <div id="rootus" class="ibody">

    <div class="imgframe S action horror adventure fantasy comedy show"> <!-- supernatural horror action comedy -->
      <div class="img-holder">
        <a href="desc.html"><img src="images/imgsn.jpg" alt=""></a>
      </div>
      <div class="ititle">
        <p class="title">Supernatural</p>
        <p class="epsd"><b>Episodes :</b> 287</p>
      </div>

    </div>

    <div class="imgframe 0-9 thriller mystery suspense show"> <!-- 13 mystery drama thriller -->
      <div class="img-holder">
        <a href="#"><img src="images/img13.jpg" alt=""></a>
      </div>
      <div class="ititle">
        <p class="title">13 Reasons WHY?</p>
        <p class="epsd"><b>Episodes :</b> 26</p>
      </div>
    </div>

    <div class="imgframe A action adventure drama comedy show"> <!-- arrow action drama crime -->
      <div class="img-holder">
        <a href="#"><img src="images/imgar.jpg" alt=""></a>
      </div>
      <div class="ititle">
        <p class="title">ARROW</p>
        <p class="epsd"><b>Episodes :</b> 161</p>
      </div>
    </div>

    <div class="imgframe B scifi suspense thriller crime show"> <!-- breakingbad crime thriller suspense action -->
      <div class="img-holder">
        <a href="#"><img src="images/imgbb.jpg" alt=""></a>
      </div>
      <div class="ititle">
        <p class="title">Breaking Bad</p>
        <p class="epsd"><b>Episodes :</b> 62</p>
      </div>
    </div>

    <div class="imgframe B scifi drama comedy show"> <!-- bigbangtheory -->
      <div class="img-holder">
        <a href="#"><img src="images/imgbbt.jpg" alt=""></a>
      </div>
      <div class="ititle">
        <p class="title">Big Bang Theory</p>
        <p class="epsd"><b>Episodes :</b> 255</p>
      </div>
    </div>

    <div class="imgframe B drama adventure crime suspense show"> <!-- bettercallsaul -->
      <div class="img-holder">
        <a href="#"><img src="images/imgbcs.jpg" alt=""></a>
      </div>
      <div class="ititle">
        <p class="title">Better Call Saul</p>
        <p class="epsd"><b>Episodes :</b> 30</p>
      </div>
    </div>

    <div class="imgframe G fantasy mystery adventure action show"> <!-- gameofthrones -->
      <div class="img-holder">
        <a href="#"><img src="images/imggot.jpg" alt=""></a>
      </div>
      <div class="ititle">
        <p class="title">Game of Thrones</p>
        <p class="epsd"><b>Episodes :</b> 67</p>
      </div>
    </div>

    <div class="imgframe H food thriller mystery crime show"> <!-- hannibal -->
      <div class="img-holder">
        <a href="#"><img src="images/imghan.jpg" alt=""></a>
      </div>
      <div class="ititle">
        <p class="title">Hannibal</p>
        <p class="epsd"><b>Episodes :</b> 39</p>
      </div>
    </div>

    <div class="imgframe H adventure thriller crime documentary show"> <!-- houseofcards -->
      <div class="img-holder">
        <a href="#"><img src="images/imghoc.jpg" alt=""></a>
      </div>
      <div class="ititle">
        <p class="title">House of Cards</p>
        <p class="epsd"><b>Episodes :</b> 65</p>
      </div>
    </div>

    <div class="imgframe I action scifi adventure horror show"> <!-- izombie -->
      <div class="img-holder">
        <a href="#"><img src="images/imgiz.jpg" alt=""></a>
      </div>
      <div class="ititle">
        <p class="title">I ZOMBIE</p>
        <p class="epsd"><b>Episodes :</b> 58</p>
      </div>
    </div>

    <div class="imgframe L horror comedy thriller action fantasy show"> <!-- lucifer -->
      <div class="img-holder">
        <a href="#"><img src="images/imgluc.jpg" alt=""></a>
      </div>
      <div class="ititle">
        <p class="title">Lucifer</p>
        <p class="epsd"><b>Episodes :</b> 57</p>
      </div>
    </div>

    <div class="imgframe T horror thriller action crime show"> <!-- theoriginals -->
      <div class="img-holder">
        <a href="#"><img src="images/imgorg.jpg" alt=""></a>
      </div>
      <div class="ititle">
        <p class="title">The Originals</p>
        <p class="epsd"><b>Episodes :</b> 86</p>
      </div>
    </div>

  </div>
</div>
